<form [formGroup]="form" class="form container" novalidate (ngSubmit)="processForm()">
  <div class="form-group">
    <label for="login">Login</label>
    <input formControlName="login" name="login" type="text" class="form-control" placeholder="Login">
    <div class="alert alert-danger" *ngIf="isErrorLogin('login')">champ invalide</div>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input formControlName="password" name="password" type="password" class="form-control" placeholder="Password">
    <div class="alert alert-danger" *ngIf="isError('password')">Le password n'est pas assez fort</div>
  </div>
  <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Login</button>
</form>
