<div class="navbar navbar-light">
    <form [formGroup]="form" class="form-inline">
      <input formControlName="value" class="form-control" placeholder="search" aria-label="Search">
    </form>
</div>
