@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?cdlz0y');
  src:  url('fonts/icomoon.eot?cdlz0y#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?cdlz0y') format('truetype'),
    url('fonts/icomoon.woff?cdlz0y') format('woff'),
    url('fonts/icomoon.svg?cdlz0y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-backspace:before {
  content: "\e14a";
}
.icon-border_color:before {
  content: "\e22b";
}
.icon-close:before {
  content: "\e5cd";
}
