<div class="card">
  <div class="card-header">
    <span [appState]="item.state"></span>
    <button class="btn btn-sm btn-danger float-right" (click)="editItem(item)"><span class="icon-edit"></span></button>
    <button class="btn btn-sm btn-danger float-right" (click)="deleteItem(item)"><span class="icon-close"></span></button>
  </div>
  <div class="card-body">
    <h4 class="card-title">{{item.name | uppercase}}</h4>
    <p class="card-text">{{item.reference}}</p>
    <button class="btn btn-primary" *ngIf="state.ALIVRER === item.state" (click)="changeState(item, state.ENCOURS)">En cours</button>
    <button class="btn btn-primary" *ngIf="state.ENCOURS === item.state" (click)="changeState(item, state.LIVREE)">Commande livrée</button>
  </div>
</div>
