<form [formGroup]="form" class="form container" novalidate (ngSubmit)="processItem()">
  <div class="form-group">
    <input formControlName="name" name="name" type="text" class="form-control" placeholder="Nom, prénom">
    <div class="alert alert-danger" *ngIf="isError('name')">champ invalide</div>
  </div>

  <div class="form-group">
    <input formControlName="ref" name="ref" type="text" class="form-control" placeholder="Réference: 1234">
    <div class="alert alert-danger" *ngIf="isError('ref')">champ invalide</div>
  </div>

  <div class="form-group">
    <select formControlName="state" name="state" class="form-control">
      <option [ngValue] = "state.ALIVRER">A livrer</option>
      <option [ngValue] = "state.ENCOURS">En cours</option>
      <option [ngValue] = "state.LIVREE">Livrée</option>
    </select>
  </div>

  <div class="form-group">
    <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Ajouter</button>
  </div>
</form>
