<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/home">{{ title }}</a>
  <button class="navbar-toggler" (click)="isNavbarCollapsed = !isNavbarCollapsed" [attr.aria-expended]="!isNavbarCollapsed" aria-controls="navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav" [ngbCollapse]="isNavbarCollapsed">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/items/list">Liste</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/items/addItem">Ajouter</a>
      </li>
    </ul>
    <div class="my-2 my-lg-2">
      <app-user-profile></app-user-profile>
    </div>
  </div>
</nav>
